<div class="row">
    <div class="login-container">

        <div class="login-form">
            <h2 class="fw-bold">Creación de cuenta</h2>

            <p style="width: 100%;">En el siguiente formulario puedes vaciar la información necesaria para registrar a un nuevo usuario.</p>

            <div class="row mt-3" style="width: 100%;">

                <div class="col-sm-12">
                    <label for="" class="fw-medium">Nombre(s):</label>
                    <mat-form-field appearance="outline" style="width: 100%;">
                        <input matInput placeholder="Ej. Jose Luis">
                    </mat-form-field>
                </div>

                <div class="col-sm-12 col-md-6">
                    <label for="" class="fw-medium">Apellido paterno:</label>
                    <mat-form-field appearance="outline" style="width: 100%;">
                        <input matInput placeholder="Ej. Estrada">
                    </mat-form-field>
                </div>

                <div class="col-sm-12 col-md-6">
                    <label for="" class="fw-medium">Apellido materno:</label>
                    <mat-form-field appearance="outline" style="width: 100%;">
                        <input matInput placeholder="Ej. Perez">
                    </mat-form-field>
                </div>

                <div class="col-sm-12">
                    <label for="" class="fw-medium">Email:</label>
                    <mat-form-field appearance="outline" style="width: 100%;">
                        <input matInput placeholder="Ej. joseluis@correo.com">
                    </mat-form-field>
                </div>

                <div class="col-sm-12">
                    <label for="" class="fw-medium">Telefono:</label>
                    <mat-form-field appearance="outline" style="width: 100%;">
                        <input matInput placeholder="Ej. 55 4272 9988">
                    </mat-form-field>
                </div>

                <div class="col-sm-12">
                    <label for="" class="fw-medium">RFC:</label>
                    <mat-form-field appearance="outline" style="width: 100%;">
                        <input matInput placeholder="Ej. VECJ880326">
                    </mat-form-field>
                </div>

                <div class="col-sm-12">
                    <label for="" class="fw-medium">Contraseña:</label>
                    <mat-form-field appearance="outline" style="width: 100%;">
                        <input matInput placeholder="***********">
                    </mat-form-field>
                </div>

            </div>

            <!-- <label for="" class="fw-medium">Nombre del solicitante:</label> -->
            <!-- <mat-form-field appearance="outline" style="width: 95%;">
                <input matInput placeholder="Correo electrónico">
            </mat-form-field> -->

            <!-- <label for="" class="fw-medium">Nombre del solicitante:</label> -->
            <!-- <mat-form-field appearance="outline" style="width: 95%;">
                <input matInput placeholder="Contraseña">
            </mat-form-field> -->

            <button mat-flat-button color="primary">Crear cuenta</button>

        </div>

        <div class="login-image">
            <div class="frame-gray"></div>
        </div>

    </div>
</div>