
<form [formGroup]="productTabForm">

  <div class="row">

    <div class="col-sm-12">
        <label for="" class="fw-medium">Producto:</label>
        <mat-form-field appearance="outline" style="width: 100%;">
            <input matInput placeholder="Ej. Es un producto" (input)="checkIfICanSedProduct2Autocomplete()" formControlName="name">
        </mat-form-field>
    </div>

    <div class="col-sm-12">
        <label for="" class="fw-medium">Marca:</label>
        <mat-form-field appearance="outline" style="width: 100%;">
            <input matInput placeholder="Ej. Marca del producto" (input)="checkIfICanSedProduct2Autocomplete()" formControlName="brand">
        </mat-form-field>
    </div>

    <div class="col-sm-12">
        <label for="" class="fw-medium">Modelo(s):</label>
        <mat-form-field appearance="outline" style="width: 100%;">
            <input matInput placeholder="Ej. Model 62" (input)="checkIfICanSedProduct2Autocomplete()" formControlName="model">
        </mat-form-field>
    </div>

    <div class="col-sm-12">
        <label for="" class="fw-medium">Folio:</label>
        <mat-form-field appearance="outline" style="width: 100%;">
            <input matInput placeholder="Ej.123456789" (input)="checkIfICanSedProduct2Autocomplete()" formControlName="invoice">
        </mat-form-field>
    </div>

    <div class="col-sm-12 col-md-6">
        <label for="" class="fw-medium">Unidad de medida:</label>
        <mat-form-field appearance="outline" style="width: 100%;">
            <mat-select placeholder="Seleccione una medida" (valueChange)="checkIfICanSedProduct2Autocomplete()" formControlName="unit_measurement_id">
              <mat-option [value]="1">Kilo</mat-option>
              <mat-option [value]="2">Gramo</mat-option>
              <mat-option [value]="3">Metro lineal</mat-option>
              <mat-option [value]="4">Metro cubico</mat-option>
            </mat-select>
          </mat-form-field>
    </div>

    <div class="col-sm-12 col-md-6">
        <label for="" class="fw-medium">Cantidad total:</label>
        <mat-form-field appearance="outline" style="width: 100%;">
            <input matInput placeholder="Ej. 5" type="number" (input)="checkIfICanSedProduct2Autocomplete()" formControlName="total_quantity">
        </mat-form-field>
    </div>

    <div class="col-sm-12 col-md-6">
        <label for="" class="fw-medium">No. de etiquetas a inspeccionar:</label>
        <mat-form-field appearance="outline" style="width: 100%;">
            <input matInput placeholder="Ej. 2" type="number" (input)="checkIfICanSedProduct2Autocomplete()" formControlName="labels_to_inspecc">
        </mat-form-field>
    </div>

    <!-- <div class="col-sm-12 col-md-6">
        <label for="" class="fw-medium">Fracción arancelaria:</label>
        <mat-form-field appearance="outline" style="width: 100%;">
            <mat-select placeholder="Seleccione una fracción" [(ngModel)]="product.tariff_fraction" (valueChange)="checkIfICanSedProduct2Autocomplete()">
              <mat-option [value]="1">Fracción 1</mat-option>
              <mat-option [value]="2">Fracción 2</mat-option>
            </mat-select>
          </mat-form-field>
    </div> -->

    <div class="col-sm-12 col-md-6">
      <label for="" class="fw-medium">Fracción arancelaria:</label>
      <mat-form-field appearance="outline" style="width: 100%;">
          <input matInput placeholder="Ej.12345678" (input)="checkIfICanSedProduct2Autocomplete()" formControlName="tariff_fraction">
      </mat-form-field>
    </div>

  </div>

</form>
