
<div class="container">

  <div class="row">

    <div class="col-sm-12 text-center">
      <h1 class="fw-bold">Aviso de Privacidad</h1>
    </div>

    <div class="col-sm-12">
      <h2 class="fw-semibold">Introducción</h2>

      <p>Este Aviso de Privacidad describe cómo se recopilan, utilizan y protegen sus datos personales. Al utilizar nuestros
      servicios, acepta los términos descritos en este aviso.</p>
    </div>

    <div class="col-sm-12">
      <h2 class="fw-semibold">Recopilación de Datos</h2>

      <p>Recopilamos información personal que usted nos proporciona directamente, como su nombre, correo electrónico, número
      de teléfono y dirección. También podemos recopilar información de manera automática, como su dirección IP y datos
      sobre el uso de nuestro sitio.</p>
    </div>

    <div class="col-sm-12">
      <h2 class="fw-semibold">Uso de los Datos</h2>

      <p>Utilizamos sus datos personales para los siguientes fines:</p>
      <ul>
        <li>Proporcionar y mejorar nuestros servicios</li>
        <li>Personalizar su experiencia en nuestro sitio</li>
        <li>Enviar comunicaciones relacionadas con nuestros servicios</li>
        <li>Respetar nuestras obligaciones legales y proteger nuestros derechos</li>
      </ul>
    </div>

    <div class="col-sm-12">
      <h2 class="fw-semibold">Derechos de los Usuarios</h2>

      <p>Usted tiene derecho a acceder, rectificar, cancelar u oponerse al uso de sus datos personales. Para ejercer estos
      derechos, puede ponerse en contacto con nosotros a través de los medios proporcionados en este aviso.</p>
    </div>

    <div class="col-sm-12">
      <h2 class="fw-semibold">Contacto</h2>

      <p>Si tiene alguna pregunta o desea ejercer sus derechos relacionados con sus datos personales, puede contactarnos a
      través del correo electrónico <a href="mailto:privacidad@example.com">privacidad&#64;example.com</a> o llamando al
      número (123) 456-7890.</p>
    </div>

    <div class="col-sm-12 text-center mt-4">
      <p>&copy; {{ date.format('YYYY') }} INGCOM. Todos los derechos reservados.</p>
    </div>

  </div>

</div>
