.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-form,
.login-image {
    // margin-left: 20px;
    width: 30%;
    /* Cambia el tamaño según lo necesites */
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.frame-gray {
    background-color: #f87b2b;
    background-image: url('/assets/images/dif-logos/Dif\ logos_page-0004.jpg');
    background-size: cover; /* Esto asegura que la imagen cubra todo el contenedor */
    background-position: 55% center;
    background-size: 140%;
    background-repeat: no-repeat;
    border-radius: 23px;
    width: 80%;
    height: 70vh;
}


@media (max-width: 1200px) {
    .login-form {
      width: 50%; /* Ancho completo para pantallas menores o iguales a 1200px */
    }

    .login-image {
      display: none; /* Ocultar la imagen en pantallas menores o iguales a 1200px */
    }
}

@media (max-width: 1200px) {
    .login-form {
      width: 95%; /* Ancho completo para pantallas menores o iguales a 1200px */
    }

}