<div class="login-container">

    <div class="login-form">
        <h2 class="fw-bold">¡Hola, qué gusto verde de nuevo!</h2>

        <p style="width: 95%;">Realiza tus solicitudes de para exportación e importación de productos de manera rápida, segura y eficaz. [NOTA: QUE MENSAJE SE DEBE COLOCAR AQUI]</p>

        <!-- <label for="" class="fw-medium">Nombre del solicitante:</label> -->
        <mat-form-field appearance="outline" style="width: 95%;">
            <input matInput placeholder="Correo electrónico">
        </mat-form-field>

        <!-- <label for="" class="fw-medium">Nombre del solicitante:</label> -->
        <mat-form-field appearance="outline" style="width: 95%;">
            <input matInput placeholder="Contraseña">
        </mat-form-field>

        <div class="mb-3">
            <a href="" style="color: #10448f;">¿Olvidaste tu contraseña?</a>
        </div>

        <button mat-flat-button color="primary">Iniciar sesión</button>

    </div>

    <div class="login-image">
      <div class="frame-gray"></div>
    </div>

</div>
