
<!-- <form [formGroup]="formChangeStatus"> -->
  <div class="p-4">

    <h1 mat-dialog-title>Modificación de la solicitud</h1>

    <div mat-dialog-content style="padding: 0;">

      <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">

        <mat-tab label="Modificar la solicitud">
          <app-modify-request
            [dialogRef]="dialogRef"
            [certificate]="data.certificate">
          </app-modify-request>
        </mat-tab>

        <mat-tab label="Modificar los productos">
          <!-- <app-modify-products></app-modify-products> -->
           <div class="container">
            <app-add-products
              [isModifyProducts]="true"
              [certificate]="data.certificate"
              [dialogRef]="dialogRef">
            </app-add-products>
           </div>
        </mat-tab>
      </mat-tab-group>


    </div>

    <!-- <div mat-dialog-actions style="display: flex; justify-content: flex-end;">
      <button mat-button mat-dialog-close>Cancelar cambios</button>
    </div> -->

  </div>
<!-- </form> -->
