<div class="row mt-5">
    <div class="col-sm-12">

        <div class="overflow-container">
            <table mat-table [dataSource]="dataSourceFinal">

              <ng-container matColumnDef="user">
                <th mat-header-cell *matHeaderCellDef>Usuario</th>
                <td mat-cell *matCellDef="let element">{{ element.applicant_name }}</td>
              </ng-container>

                <ng-container matColumnDef="key">
                    <th mat-header-cell *matHeaderCellDef>Clave de la solicitud</th>
                    <td mat-cell *matCellDef="let element"></td>
                </ng-container>

                <ng-container matColumnDef="date">
                    <th mat-header-cell *matHeaderCellDef>Fecha de elaboración</th>
                    <td mat-cell *matCellDef="let element">{{ getDateString(element.created_at) }}</td>
                </ng-container>

                <ng-container matColumnDef="service">
                    <th mat-header-cell *matHeaderCellDef>Servicio</th>
                    <td mat-cell *matCellDef="let element">{{ (element.request_type === 'certificate') ? 'Constancia' : 'Dictamen' }}</td>
                </ng-container>

                <ng-container matColumnDef="rule">
                    <th mat-header-cell *matHeaderCellDef>Norma</th>
                    <td mat-cell *matCellDef="let element">{{ element.rule }}</td>
                </ng-container>

                <ng-container matColumnDef="products">
                    <th mat-header-cell *matHeaderCellDef>Número de productos</th>
                    <td mat-cell *matCellDef="let element">{{element.products}}</td>
                </ng-container>

                <ng-container matColumnDef="verify">
                    <th mat-header-cell *matHeaderCellDef>Verificación</th>
                    <td mat-cell *matCellDef="let element">{{element.verify}}</td>
                </ng-container>

                <ng-container matColumnDef="state">
                    <th mat-header-cell *matHeaderCellDef>Estado</th>
                    <td mat-cell *matCellDef="let element">{{element.state}}</td>
                </ng-container>

                <ng-container matColumnDef="pdf">
                    <th mat-header-cell *matHeaderCellDef>Ver PDF</th>
                    <td mat-cell *matCellDef="let element">
                      <button mat-button (click)="generatePDF2(element)">Descargar PDF</button>
                    </td>
                </ng-container>

                <ng-container matColumnDef="edit">
                    <th mat-header-cell *matHeaderCellDef>Modificar</th>
                    <td mat-cell *matCellDef="let element">Modificar</td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumnsFinal"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumnsFinal;"></tr>
            </table>
        </div>

        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
            aria-label="Select page of periodic elements">
        </mat-paginator>


    </div>
</div>
