<div class="row">
    <div class="col-sm-12 text-center"><h1 class="fw-bold">Generación de solicitud</h1></div>
</div>

<form [formGroup]="formCreateRequest" (submit)="onSubmit()">

<div class="row">
    <div class="col-sm-12">
        <p>Para generar una "Solicitud de Verificación" primero seleccione el tipo de servicio</p>

        Seleccione el tipo de servicio:
        <mat-radio-group aria-label="Select an option" formControlName="type" (change)="changeTypeForm()">
            <mat-radio-button [value]="1">Constancia</mat-radio-button>
            <mat-radio-button [value]="2">Dictamen</mat-radio-button>
        </mat-radio-group>
    </div>
</div>

<div class="row mt-3">
    <div class="col-sm-12 text-center"><h1 class="fw-bold">{{ titleRequest }}</h1></div>
</div>

<div class="row mt-3">

    <div *ngIf="company" class="col-sm-12">
        <label for="" class="fw-medium">Nombre de la empresa:</label>
        <p>
            <mat-form-field appearance="outline" style="width: 100%;">
              <!-- <mat-label>Outline form field</mat-label> -->
              <input matInput placeholder="Placeholder" [value]="company.name" [disabled]="true">
              <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
              <!-- <mat-hint>Hint</mat-hint> -->
            </mat-form-field>
        </p>
    </div>

    <div class="col-sm-12">
        <label for="" class="fw-medium">Nombre del solicitante:</label>
        <mat-form-field appearance="outline" style="width: 100%;">
            <input matInput placeholder="Ej. Jose Luis Hernandez" [disabled]="true" [value]="user.user.name + ' ' + user.user.middle_name">
        </mat-form-field>
    </div>

    <div *ngIf="company" class="col-sm-12">
        <label for="" class="fw-medium">Domicilio fiscal:</label>
        <mat-form-field appearance="outline" style="width: 100%;">
            <input matInput placeholder="Ej. Jose Luis Hernandez" [value]="company.tax_address" [disabled]="true">
        </mat-form-field>
    </div>

    <div class="col-sm-12">
        <label for="" class="fw-medium">Domicilio donde se realizará la inspección:</label>
        <mat-form-field appearance="outline" style="width: 100%;">
            <input matInput placeholder="Ej. Av Jose Hernandez No. 14" formControlName="inspectionAddress">
        </mat-form-field>
    </div>

    <div class="col-sm-12 col-md-6">
        <label for="" class="fw-medium">Norma aplicable:</label>
        <mat-form-field appearance="outline" style="width: 100%;">
            <mat-select placeholder="Seleccione una norma" (selectionChange)="changeRule()" formControlName="rule">
              <mat-option *ngFor="let rule of rules" [value]="rule.id">{{ rule.name }}</mat-option>
            </mat-select>
          </mat-form-field>
    </div>

    <div class="col-sm-12 col-md-6">
        <label for="" class="fw-medium">Fase (solo NOM-051-SCFI/SSA1-2010):</label>
        <mat-form-field appearance="outline" style="width: 100%;">
            <mat-select placeholder="No aplica" formControlName="phaseNom051">
              <mat-option *ngFor="let phase of phases51" [value]="phase.id">{{ phase.name + ' ' + phase.phase }}</mat-option>
            </mat-select>
          </mat-form-field>
    </div>

    <div [ngClass]="{'display-block': typeForm === 2, 'display-none': typeForm !== 2}" class="col-sm-12">
        <label for="" class="fw-medium">Aduana de ingreso de la mercancía</label>
        <mat-form-field appearance="outline" style="width: 100%;">
            <mat-select placeholder="Seleccione una aduana de ingreso" formControlName="customsOfEntry">
              <mat-option *ngFor="let customOffice of customsOffices" [value]="customOffice.id">{{ customOffice.name }}</mat-option>
            </mat-select>
          </mat-form-field>
    </div>

    <div [ngClass]="{'display-block': typeForm === 2, 'display-none': typeForm !== 2}" class="col-sm-12">
        <label for="" class="fw-medium">Modalidad de etiquetado:</label>
        <mat-form-field appearance="outline" style="width: 100%;">
            <mat-select placeholder="Seleccione una modalidad" formControlName="labelingMode">
              <mat-option [value]="'PA'">PA (Etiquetado en Almacén de Depósito)</mat-option>
              <mat-option [value]="'PB'">PB (Etiquetado en Almacén Propio)</mat-option>
            </mat-select>
          </mat-form-field>
    </div>

    <div [ngClass]="{'display-block': typeForm === 2, 'display-none': typeForm !== 2}" class="col-sm-12">
        <label for="" class="fw-medium">Número de factura:</label>
        <mat-form-field appearance="outline" style="width: 100%;">
            <input matInput placeholder="Ej. 00991122277" formControlName="invoiceNumber">
        </mat-form-field>
    </div>

    <div [ngClass]="{'display-block': typeForm === 2, 'display-none': typeForm !== 2}" class="col-sm-12 col-md-6">
        <label for="" class="fw-medium">Fecha probable de internación:</label>
        <mat-form-field style="width: 100%;">
            <!-- <mat-label>Choose a date</mat-label> -->
            <input matInput [matDatepicker]="picker1" placeholder="Seleccione una fecha" formControlName="probableInternmentDate">
            <mat-hint>DD/MM/AAAA</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
    </div>

    <div [ngClass]="{'display-block': typeForm === 2, 'display-none': typeForm !== 2}" class="col-sm-12 col-md-6">
        <label for="" class="fw-medium">Fecha tentativa para la inspección:</label>
        <mat-form-field style="width: 100%;">
            <input matInput [matDatepicker]="picker2" placeholder="Seleccione una fecha" formControlName="tentativeInspectionDate">
            <mat-hint>DD/MM/AAAA</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
    </div>

    <div class="col-sm-12 mt-3">
        <label for="" class="fw-medium">Aclaraciones:</label>
        <mat-form-field class="example-full-width" style="width: 100%;">
            <!-- <mat-label>Leave a comment</mat-label> -->
            <textarea matInput placeholder="Ej. Mi producto está..." formControlName="clarifications"></textarea>
          </mat-form-field>
    </div>

    <div class="col-sm-12 mt-4 mb-4 text-center">
        <button mat-flat-button color="primary" [disabled]="!formCreateRequest.valid" type="submit">Siguiente</button>
    </div>

</div>

</form>
