<form [formGroup]="formSearch" (submit)="onSearch()">
<div class="row mt-5">

    <div class="col-sm-12 col-md-6">
        <div class="row">

            <div class="col-sm-12 col-md-6">
                <mat-form-field appearance="outline" style="width: 90%;">
                    <input matInput placeholder="Buscar" formControlName="searchText">
                </mat-form-field>
            </div>

            <div class="col-sm-12 col-md-6">

                <!-- <mat-form-field style="width: 90%;">
                    <input matInput [matDatepicker]="picker2" placeholder="Seleccione una fecha">
                    <mat-hint>DD/MM/AAAA</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                </mat-form-field> -->

                <mat-form-field style="width: 90%;">
                  <mat-date-range-input [rangePicker]="picker">
                    <input matStartDate placeholder="Fecha inicial" formControlName="searchStartDate">
                    <input matEndDate placeholder="Fecha final" formControlName="searchEndDate">
                  </mat-date-range-input>
                  <mat-hint>MM/DD/YYYY - MM/DD/YYYY</mat-hint>
                  <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-date-range-picker #picker></mat-date-range-picker>
                </mat-form-field>

            </div>

        </div>
    </div>

    <div class="col-sm-12 col-md-4 d-flex align-items-center justify-content-md-end">
      <button mat-flat-button color="primary" [disabled]="!flagClean" (click)="clean()">Limpiar</button>
        <button mat-flat-button color="primary" [disabled]="!canISearch()" style="margin-left: 20px;">Buscar</button>
        <!-- <button *ngIf="user.user.role === 'customer'" mat-flat-button color="primary" style="margin-left: 20px;" (click)="exportXLSXUser()">Exportar</button> -->
    </div>

</div>
</form>
